

<div id="slide" class="slide" style="width: <%= @slide.slideshow.px_width %>px; height: <%= @slide.slideshow.px_height %>px">
  <div class="slide-object draggable"></div>
  <div class="slide-object draggable"></div>
  <div class="slide-object draggable"></div>
  <div class="slide-object draggable"></div>
</div>