<% @slideshow.slides.each_with_index do |slide,index| %>

  <div id="slide" class="slide" style="width: <%= @slideshow.px_width %>px; height: <%= @slideshow.px_height %>px">
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
    <div class="slide-object draggable"></div>
  </div>

<% end %>