<h3><%= @user.email.capitalize %> Your Page</h3>


<%= link_to 'Homepage', root_path %>


<%= link_to "Update Account Info", edit_user_path(@user) %>
 <%= link_to 'Delete Account', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
