.nav {
  height: 60px;
  width: 100%;
/*  background-color: #F7A625;*/
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(bottom, rgb(5,33,54) 0%, rgb(10,61,97) 5%, rgb(14,119,194) 100%);
  background-image: -o-linear-gradient(bottom, rgb(5,33,54) 0%, rgb(10,61,97) 5%, rgb(14,119,194) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(5,33,54) 0%, rgb(10,61,97) 5%, rgb(14,119,194) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(5,33,54) 0%, rgb(10,61,97) 5%, rgb(14,119,194) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(5,33,54) 0%, rgb(10,61,97) 5%, rgb(14,119,194) 100%);
  box-shadow: 0px 0px 20px #333;
  z-index: 10;
}

.nav .logo {
  position: absolute;
  margin: 3px 0px 0 20px;
  width: 300px;
}

.nav .logo svg {
  width: 50px;
  height: 50px;
  -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.nav .logo h1 {
  display: inline-block;
  position: absolute;
  color: #fff;
  font-size: 2.3em;
  top: 2px;
  left: 60px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.login {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.login div {
  display: inline-block;
  float: right;
}

.login div p {
  display: inline-block;
  color: white;
  font-family: Arial;
  font-size: 1.2em;
  margin-top: 13px;
  padding-left: 20px;
}

.login div a:hover {
  color: #444;
}


.login div.sign-up {
  display: inline-block;
  background-image: linear-gradient(bottom, rgb(8,48,8) 0%, rgb(14,84,14) 5%, rgb(35,173,35) 100%);
  background-image: -o-linear-gradient(bottom, rgb(8,48,8) 0%, rgb(14,84,14) 5%, rgb(35,173,35) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(8,48,8) 0%, rgb(14,84,14) 5%, rgb(35,173,35) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(8,48,8) 0%, rgb(14,84,14) 5%, rgb(35,173,35) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(8,48,8) 0%, rgb(14,84,14) 5%, rgb(35,173,35) 100%);
  height: 60px;
  width: 100px;
  padding: 0 10px;
  border-right: 2px solid rgb(14,84,14);
  border-left: 2px solid rgb(14,84,14);
  box-shadow:  5px 0 10px 0px rgba(0, 0, 0, 0.3), -5px 0 10px 0px rgba(0, 0, 0, 0.3);
}

.login div.sign-up p {
  margin: 6px 0 0 0;
  color: white;
  font-family: Arial;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
}

.login div.sign-up a {
  margin: 4px 0 0 0;
  color: white;
  font-family: Arial;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.login div.sign-up a:hover {
  text-shadow: 1px 0px 10px white;
}

.login div a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.login div.form {
  margin-top: 13px;
  margin-right: 10px;
}

.login input {
  background-color: rgba(255,255,255,0.3);
  border: 2px solid rgba(255,255,255,0.8);
  height: 25px;
  width: 170px;
  font-size: 1.1em;
  color: black;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.login input.button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 900;
  width: 100px;
}

.login input.button:hover {
  color: black;
}

.login input:focus {
  background-color: rgba(255,255,255,0.5);
  outline: none;
  box-shadow: 0 0 10px 2px rgba(14,84,14,0.8);
}


.login input::-webkit-input-placeholder {
  color: rgba(255,255,255,.7);
}
.login input::-moz-placeholder {
  color: rgba(255,255,255,.7);
}
.login input:-moz-placeholder {
  color: rgba(255,255,255,.7);
}
.login input:-ms-input-placeholder {
  color: rgba(255,255,255,.7);
}

.nav-error {
  clear: both;
  background-color: rgba(255,50,50,0.6);
  position: absolute;
  padding: 15px 10px 10px 5px;
  right: 283px;
  top: 60px;
  box-shadow: 0 0 10px #666;
  height: 50px;
  width: 300px;
  border: 2px solid red;
  color: white;
  text-align: center;
  font-size: 1em;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  font-family: Arial;
  z-index: 1;
}
